.horizon-series {
  position: relative;
  border: 0 solid darkgray;
}

.horizon-series .label {
  position: absolute;
  bottom: 0;
  left: 4px;
  font-family: sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  pointer-events: none;
}

.horizon-series .chart .horizon-tooltip {
  z-index: 1000;
}

.horizon-ruler {
  position: absolute;
  background: black;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  pointer-events: none;
  transition: opacity 0.5s;
  z-index: 100;
}